[submodule "lib/glfw"]
  path = "lib/glfw"
  url = https://github.com/glfw/glfw

[submodule "lib/glm"]
  path = "lib/glm"
  url = https://github.com/g-truc/glm

[submodule "lib/imgui"]
  path = "lib/imgui"
  url = https://github.com/ocornut/imgui

[submodule "lib/portable-file-dialogs"]
  path = "lib/portable-file-dialogs"
  url = https://github.com/samhocevar/portable-file-dialogs

[submodule "lib/tinyobjloader"]
  path = "lib/tinyobjloader"
  url = https://github.com/tinyobjloader/tinyobjloader

[submodule "lib/stb"]
  path = "lib/stb"
  url = https://github.com/nothings/stb

[submodule "lib/IconFontCppHeaders"]
  path = "lib/IconFontCppHeaders"
  url = https://github.com/juliettef/IconFontCppHeaders

[submodule "lib/json"]
  path = "lib/json"
  url = https://github.com/nlohmann/json
